ingestion/nifi/template/Load_from_Kafka_to_Lakehouse.json
{"flowContents":{"identifier":"0859e649-fcb3-365b-8706-c247923a4a83","instanceIdentifier":"86ccd73b-019a-1000-28f4-f50b11fa3b77","name":"Load_from_Kafka_to_Lakehouse","comments":"","position":{"x":216.0,"y":56.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a7d7802c-f719-3df2-a1db-e18317158c20","instanceIdentifier":"871503e4-019a-1000-815e-8412ea339b16","name":"ConvertRecord","comments":"","position":{"x":-328.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"ff13aeb9-831c-37c8-8e3a-7b854d10ac1e","Record Reader":"33be8e9a-e7a3-3202-8d4a-3b9305065bf4"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f2-019a-1000-139c-7c9cf576eb0b","instanceIdentifier":"ca2dd804-60c3-3640-91e0-8969e55392b9","name":"ConvertRecord","comments":"","position":{"x":-728.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"ff13aeb9-831c-37c8-8e3a-7b854d10ac1e","Record Reader":"33be8e9a-e7a3-3202-8d4a-3b9305065bf4"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f5-019a-1000-bd83-da76a8a67234","instanceIdentifier":"ca36998d-3896-3ea1-c35f-8fc60c0985e1","name":"PutIceberg","comments":"","position":{"x":-728.0,"y":240.0},"type":"tech.stackable.nifi.processors.iceberg.PutIceberg","bundle":{"group":"tech.stackable.nifi","artifact":"nifi-iceberg-processors-nar","version":"0.0.5"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"IGNORE_UNMATCHED_COLUMN","file-format":"PARQUET","catalog-service":"022b6268-8668-3682-aea9-3b0fc444b571","record-reader":"8d1271d4-d8da-3770-9b8c-1af76ddcf40b","table-name":"smartwatch","kerberos-user-service":null,"minimum-commit-wait-time":"100 ms","catalog-namespace":"bronze"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"f7844fce-100e-31e7-8fee-b03e9af17c99","instanceIdentifier":"86d9663c-019a-1000-bebe-4a13b1b1ad50","name":"ConsumeKafka_home-sensor","comments":"","position":{"x":-320.0,"y":-392.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0"},"properties":{"Topics":"home_sensor","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"56c7d42e-742a-31a4-86c6-4de51a608e0f","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"home_sensor","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f4-019a-1000-45fe-efe45f0d27d2","instanceIdentifier":"8b852fdb-a3c5-3124-63a8-6a37fe40fa71","name":"MergeRecord","comments":"","position":{"x":-720.0,"y":16.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"max-bin-age":"1 sec","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"128 MB","record-writer":"ff13aeb9-831c-37c8-8e3a-7b854d10ac1e","merge-strategy":"Bin-Packing Algorithm","record-reader":"8d1271d4-d8da-3770-9b8c-1af76ddcf40b","max-records":"1000","min-bin-size":"1 MB","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"b6b33cbe-4f55-31af-99d2-49a70e76dc1d","instanceIdentifier":"870c7933-019a-1000-aa46-f45a7f0cd6fd","name":"MergeRecord","comments":"","position":{"x":-320.0,"y":16.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"max-bin-age":"1 sec","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"128 MB","record-writer":"ff13aeb9-831c-37c8-8e3a-7b854d10ac1e","merge-strategy":"Bin-Packing Algorithm","record-reader":"8d1271d4-d8da-3770-9b8c-1af76ddcf40b","max-records":"1000","min-bin-size":"1 MB","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"86e457fe-019a-1000-8290-c1673a203e1e","instanceIdentifier":"ba29d230-eb52-323a-dcbb-c714f9978c7a","name":"PutIceberg","comments":"","position":{"x":-328.0,"y":240.0},"type":"tech.stackable.nifi.processors.iceberg.PutIceberg","bundle":{"group":"tech.stackable.nifi","artifact":"nifi-iceberg-processors-nar","version":"0.0.5"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"IGNORE_UNMATCHED_COLUMN","file-format":"PARQUET","catalog-service":"022b6268-8668-3682-aea9-3b0fc444b571","record-reader":"8d1271d4-d8da-3770-9b8c-1af76ddcf40b","table-name":"home_sensor","kerberos-user-service":null,"minimum-commit-wait-time":"100 ms","catalog-namespace":"bronze"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f3-019a-1000-9351-6a3b3d60e960","instanceIdentifier":"37a35afd-4849-37ac-6bea-fcb9600f06b0","name":"ConsumeKafka_smart_watch","comments":"","position":{"x":-720.0,"y":-392.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0"},"properties":{"Topics":"smartwatch","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"56c7d42e-742a-31a4-86c6-4de51a608e0f","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"smartwatch","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9ee49790-f2bf-362f-8d89-4858e1c42d0e","instanceIdentifier":"871bdcdb-019a-1000-826e-bb52ccc343b5","name":"","source":{"id":"b6b33cbe-4f55-31af-99d2-49a70e76dc1d","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"MergeRecord","comments":"","instanceIdentifier":"870c7933-019a-1000-aa46-f45a7f0cd6fd"},"destination":{"id":"86e457fe-019a-1000-8290-c1673a203e1e","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"PutIceberg","comments":"","instanceIdentifier":"ba29d230-eb52-323a-dcbb-c714f9978c7a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f8-019a-1000-3a33-3235298e4b51","instanceIdentifier":"3a88b5e5-0039-3b8c-dc22-6382f4cd8e86","name":"","source":{"id":"8721e1f2-019a-1000-139c-7c9cf576eb0b","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConvertRecord","comments":"","instanceIdentifier":"ca2dd804-60c3-3640-91e0-8969e55392b9"},"destination":{"id":"8721e1f4-019a-1000-45fe-efe45f0d27d2","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"MergeRecord","comments":"","instanceIdentifier":"8b852fdb-a3c5-3124-63a8-6a37fe40fa71"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f6-019a-1000-ece2-1df44417e0fc","instanceIdentifier":"f835c0ed-465c-3739-d445-39adf5b9bdc4","name":"","source":{"id":"8721e1f4-019a-1000-45fe-efe45f0d27d2","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"MergeRecord","comments":"","instanceIdentifier":"8b852fdb-a3c5-3124-63a8-6a37fe40fa71"},"destination":{"id":"8721e1f5-019a-1000-bd83-da76a8a67234","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"PutIceberg","comments":"","instanceIdentifier":"ca36998d-3896-3ea1-c35f-8fc60c0985e1"},"labelIndex":0,"zIndex":5,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8721e1f7-019a-1000-13db-8d63a504d6fd","instanceIdentifier":"882d208a-a10e-37b5-399e-1626c1f6ecf9","name":"","source":{"id":"8721e1f3-019a-1000-9351-6a3b3d60e960","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConsumeKafka_smart_watch","comments":"","instanceIdentifier":"37a35afd-4849-37ac-6bea-fcb9600f06b0"},"destination":{"id":"8721e1f2-019a-1000-139c-7c9cf576eb0b","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConvertRecord","comments":"","instanceIdentifier":"ca2dd804-60c3-3640-91e0-8969e55392b9"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"22b3c070-160a-33ef-87c9-0418da09b675","instanceIdentifier":"87154416-019a-1000-9d66-880de3f2c682","name":"","source":{"id":"f7844fce-100e-31e7-8fee-b03e9af17c99","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConsumeKafka_home-sensor","comments":"","instanceIdentifier":"86d9663c-019a-1000-bebe-4a13b1b1ad50"},"destination":{"id":"a7d7802c-f719-3df2-a1db-e18317158c20","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConvertRecord","comments":"","instanceIdentifier":"871503e4-019a-1000-815e-8412ea339b16"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"3fee594f-b977-3f87-9554-3b09d133db27","instanceIdentifier":"871554e7-019a-1000-dc03-412cdd7af810","name":"","source":{"id":"a7d7802c-f719-3df2-a1db-e18317158c20","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"ConvertRecord","comments":"","instanceIdentifier":"871503e4-019a-1000-815e-8412ea339b16"},"destination":{"id":"b6b33cbe-4f55-31af-99d2-49a70e76dc1d","type":"PROCESSOR","groupId":"0859e649-fcb3-365b-8706-c247923a4a83","name":"MergeRecord","comments":"","instanceIdentifier":"870c7933-019a-1000-aa46-f45a7f0cd6fd"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"56c7d42e-742a-31a4-86c6-4de51a608e0f","instanceIdentifier":"86db51d2-019a-1000-fcf8-06b186b92d8c","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:29092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"33be8e9a-e7a3-3202-8d4a-3b9305065bf4","instanceIdentifier":"86ea1169-019a-1000-30d0-8c15d3a5cfe8","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"ff13aeb9-831c-37c8-8e3a-7b854d10ac1e","instanceIdentifier":"86ea321f-019a-1000-c518-613b5f6260c3","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"8d1271d4-d8da-3770-9b8c-1af76ddcf40b","instanceIdentifier":"86e493aa-019a-1000-84e2-6bf4482a98bf","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"},{"identifier":"022b6268-8668-3682-aea9-3b0fc444b571","instanceIdentifier":"86e54dc6-019a-1000-4da0-7777a7f77259","name":"IcebergHiveCatalogService","comments":"","type":"tech.stackable.nifi.services.iceberg.IcebergHiveCatalogService","bundle":{"group":"tech.stackable.nifi","artifact":"nifi-iceberg-services-nar","version":"0.0.5"},"properties":{"hadoop-config-resources":"/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml\n","s3-path-style-access":null,"warehouse-location":"hdfs://namenode:9000/user/nifi/iceberg","hive-metastore-uri":"thrift://hive-metastore:9083","s3-endpoint":null,"AWS Credentials Provider service":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"s3-path-style-access":{"name":"s3-path-style-access","displayName":"S3 path style access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-endpoint":{"name":"s3-endpoint","displayName":"S3 endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"tech.stackable.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"tech.stackable.nifi","artifact":"nifi-iceberg-services-api-nar","version":"0.0.5"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0859e649-fcb3-365b-8706-c247923a4a83"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}